<div class="dialog character-create">
  <div class="titlebar">Character Create</div>
  <input type="text" class="textbox name" placeholder="Name" />
  <div class="seperator" />
  <div class="label category">Gender</div>
  <div class="flex-horizontal">
    <div class="button prev gender">&lt;</div>
    <div class="label gender flex-fill"></div>
    <div class="button next gender">&gt;</div>
  </div>
  <div class="seperator" />
  <div class="label category">Face</div>
  <div class="flex-horizontal">
    <div class="button prev face">&lt;</div>
    <div class="label face flex-fill"></div>
    <div class="button next face">&gt;</div>
  </div>
  <div class="seperator" />
  <div class="label category">Hair Style</div>
  <div class="flex-horizontal">
    <div class="button prev hair-style">&lt;</div>
    <div class="label hair-style flex-fill"></div>
    <div class="button next hair-style">&gt;</div>
  </div>
  <div class="seperator" />
  <div class="label category">Hair Color</div>
  <div class="flex-horizontal">
    <div class="button prev hair-color">&lt;</div>
    <div class="label hair-color flex-fill"></div>
    <div class="button next hair-color">&gt;</div>
  </div>
  <div class="seperator15" />
  <div class="button create">Create</div>
  <div class="seperator" />
  <div class="button cancel">Cancel</div>
</div>
