<div class="dialog chatbox">
  <div class="label system messages" />
  <div class="label game messages" />
  <div class="seperator" />
  <div class="radiogroup chat-type">
    <div class="button all" style="">All</div>
    <div class="button trade">$ Trade</div>
    <div class="button clan">@ Clan</div>
    <div class="button party"># Party</div>
    <div class="button whisper">" Whisper</div>
    <div class="button group">~ Group</div>
  </div>
  <div class="seperator" />
  <div class="flex-horizontal">
    <input type="text" class="textbox message flex-fill" placeholder="Say" />
    <div class="button send">Send</div>
  </div>
</div>
