<div class="dialog inventory" style="top: 200px; left: 200px">
  <div class="titlebar drag close">Inventory</div>
  <div class="tabpanel page">
    <div class="header">
      <div class="button">Avatar</div>
      <div class="button">Costume</div>
      <div class="button">PAT</div>
    </div>
    <div class="tab equipped">
      <div style="float: left;">
        <div class="equip-slot-10 slot accepts-item" /><br />
        <div class="equip-slot-9 slot accepts-item" /><br />
        <div class="equip-slot-11 slot accepts-item" />
      </div>
      <div style="float: right">
        <div class="ammo-slot-0 slot accepts-item" /><br />
        <div class="ammo-slot-1 slot accepts-item" /><br />
        <div class="ammo-slot-2 slot accepts-item" /><br />
      </div>
      <div style="margin: 0 auto; width: 135px">
        <div style="float: left">
          <div class="equip-slot-1 slot accepts-item" /><br />
          <div class="equip-slot-7 slot accepts-item" /><br />
          <div class="equip-slot-5 slot accepts-item" />
        </div>
        <div style="float: left">
          <div class="equip-slot-2 slot accepts-item" /><br />
          <div class="equip-slot-3 slot accepts-item" /><br />
          <div class="equip-slot-6 slot accepts-item" />
        </div>
        <div style="float: left">
          <div class="equip-slot-4 slot accepts-item" /><br />
          <div class="equip-slot-8 slot accepts-item" /><br />
        </div>
      </div>
      <div class="seperator" />
      <div class="tabpanel inventory">
        <div class="header">
          <div class="button">Equipment</div>
          <div class="button">Consume</div>
          <div class="button">Material</div>
        </div>
        <div class="tab" id="equipment" />
        <div class="tab" id="consume" />
        <div class="tab" id="material" />
      </div>
    </div>
    <div class="tab">Costume tab.</div>
    <div class="tab">PAT tab.</div>
  </div>
</div>
