<div class="login dialog">
  <div class="titlebar">Login</div>
  <div class="panel">
    <div class="flex-horizontal">
      <label>Username:</label>
      <input type="text" class="textbox username flex-fill" />
    </div>
    <div class="seperator" />

    <div class="flex-horizontal">
      <label>Password:</label>
      <input type="password" class="textbox password flex-fill" />
    </div>
    <div class="seperator" />

    <div class="checkbox remember">Remember Me</div>
    <div class="seperator" />

    <div class="button submit">Login</div>
  </div>
</div>
