<div class="dialog quest-list" style="left: 100px; top: 100px;">
  <div class="titlebar drag close">Quests</div>
  <div class="panel flex-horizontal">
    <div class="label count flex-fill">Quests 1 / 10</div>
    <div class="label daily flex-fill">Daily  0 / 15</div>
  </div>
  <div class="seperator" />
  <div class="list quests" />
  <div class="seperator" />
  <div class="flex-horizontal flex-stretch">
    <div class="items">
      <div class="quest-slot-1 slot nodrag" />
      <div class="seperator" />
      <div class="quest-slot-2 slot nodrag" />
      <div class="seperator" />
      <div class="quest-slot-3 slot nodrag" />
      <div class="seperator" />
      <div class="quest-slot-4 slot nodrag" />
      <div class="seperator" />
      <div class="quest-slot-5 slot nodrag" />
      <div class="seperator" />
      <div class="quest-slot-6 slot nodrag" />
    </div>
    <div class="flex-vertical flex-fill">
      <div class="label description flex-fill"></div>
      <div class="footer flex-horizontal">
        <div class="label timer flex-fill">5 seconds</div>
        <div class="button abandon">Abandon</div>
      </div>
    </div>
  </div>
</div>
