<div class="dialog quickbar">
  <div class="quick-slot-1 slot accepts-all" />
  <div class="quick-slot-2 slot accepts-all" />
  <div class="quick-slot-3 slot accepts-all" />
  <div class="quick-slot-4 slot accepts-all" />
  <div class="quick-slot-5 slot accepts-all" />
  <div class="quick-slot-6 slot accepts-all" />
  <div class="quick-slot-7 slot accepts-all" />
  <div class="quick-slot-8 slot accepts-all" />
  <div class="quick-slot-9 slot accepts-all" />
  <div class="quick-slot-10 slot accepts-all" />
  <div class="quick-slot-11 slot accepts-all" />
  <div class="quick-slot-12 slot accepts-all" />
</div>
