<div class="dialog skills">
  <div class="titlebar drag close">Skills</div>
  <div class="tabpanel category vertical">
    <div class="header">
      <div class="button">Basic</div>
      <div class="button">Job</div>
      <div class="button">Parts</div>
      <div class="button">Unique</div>
      <div class="button">Item Mall</div>
    </div>
    <div class="tab basic">
      <div class="tabpanel basic">
        <div class="header">
          <div class="button">Basic</div>
        </div>
        <div class="tab basic">
          <div class="skill-panel basic" />
        </div>
      </div>
    </div>
    <div class="tab job">
      <div class="tabpanel job">
        <div class="header">
          <div class="button">Job 1</div>
          <div class="button">Job 2</div>
          <div class="button">Job 3</div>
        </div>
        <div class="tab job-1">
          <div class="skill-panel job-1" />
        </div>
        <div class="tab job-2">
          <div class="skill-panel job-2" />
        </div>
        <div class="tab job-2">
          <div class="skill-panel job-3" />
        </div>
      </div>
    </div>
    <div class="tab parts">
      <div class="tabpanel parts">
        <div class="header">
          <div class="button">Cart</div>
          <div class="button">Castle Gear</div>
        </div>
        <div class="tab cart">
          <div class="skill-panel cart" />
        </div>
        <div class="tab castle-gear">
          <div class="skill-panel castle-gear" />
        </div>
      </div>
    </div>
    <div class="tab unique">
      <div class="tabpanel unique">
        <div class="header">
          <div class="button">Unique 1</div>
          <div class="button">Unique 2</div>
          <div class="button">Unique 3</div>
          <div class="button">Unique 4</div>
        </div>
        <div class="tab unique-1">
          <div class="skill-panel unique-1" />
        </div>
        <div class="tab unique-2">
          <div class="skill-panel unique-2" />
        </div>
        <div class="tab unique-3">
          <div class="skill-panel unique-3" />
        </div>
        <div class="tab unique-4">
          <div class="skill-panel unique-4" />
        </div>
      </div>
    </div>
    <div class="tab pay2win">
      <div class="tabpanel pay2win">
        <div class="header">
          <div class="button">Pay to Win 1</div>
          <div class="button">Pay to Win 2</div>
        </div>
        <div class="tab pay-to-win-1">
          <div class="skill-panel pay-to-win-1" />
        </div>
        <div class="tab pay-to-win-2">
          <div class="skill-panel pay-to-win-2" />
        </div>
      </div>
    </div>
  </div>
</div>
